.container {
    background-color: yellowgreen;
}



.title{
    text-align: center;
    color: darkred;
    font-size: 30px;
    letter-spacing: 10px;
    padding: 15px;
    background-color: burlywood;
}

.rules {
    text-align: center;
    color: darkorange;
    font-size: 15px;
    background-color: lightgrey;
    width: 400px;  
}

#question-1 {

    margin: 40px:
}

#button-1a {
   
}